<!DOCTYPE html>
<!-- Déclaration du fragment principal – le layout layout-filmotheque -->
<!-- Paramétrer le layout pour des valeurs dynamiques -->
<!-- Rendre variable le contenu de la page -->
<!-- Rendre variable le titre de la page -->
<!-- Permettre d’ajouter ou non des ressources CSS -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Déclaration des CSS par défaut : -->
    <link rel="stylesheet" data-th-href="@{/css/layout.css}">
    <link rel="stylesheet" data-th-href="@{/css/general.css}">

    <link rel="icon" data-th-href="@{/images/marteau.png}" sizes="32x32">
</head>
<body>
    <nav>
        <ul>
            <img src="/images/marteau.png">
            <li>ENI-Encheres</li>
            <li><a href="/index">Accueil</a></li>
            <li><a href="/inscription">S'inscrire</a></li>
            <li><a href="/connection">Se connecter</a></li>
        </ul>
    </nav>
</body>
</html>
