<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, header,content, footer, ressourcesSupp)"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${title}">Titre par défaut</title>

    <link rel="icon" data-th-href="@{/images/marteau.png}" sizes="32x32">
    <link rel="stylesheet" data-th-href="@{/css/layout.css}">

    <th:block th:utext="${ressourcesSupp}"></th:block> <!-- Pour ressources supplémentaires -->
</head>
<body>
<div th:replace="${header}"></div>

    <nav>
        <img data-th-src="@{/images/marteau.png}" alt="Logo marteau">
        <p>Les objets sont nos amis</p>
        <ul>
            <li><a data-th-href="@{/accueil}">Accueil</a></li>
            <li><a data-th-href="@{/inscription}">S'inscrire</a></li>
            <th:block  sec:authorize="isAuthenticated()">
                <p data-th-text="${#authentication.name}"></p>
                <li><a data-th-href="@{/deconnexion}" >Se déconnecter</a></li>
            </th:block>
            <th:block data-th-if="${!#authorization.expression('isAuthenticated()')}">
                <li><a data-th-href="@{/connexion}" >Se connecter</a></li>
            </th:block>
        </ul>
        <div class="date-encadre" th:text="${dateDuJour}">
            <!-- La date s'affichera ici -->
        </div>
    </nav>

<!-- On injecte le contenu spécifique de chaque page -->
<div th:replace="${content}"></div>

<div th:replace="${footer}"></div>
    <footer class="text-center text-muted py-3 mt-5 border-top">
        &copy; 2025 Les objets sont nos amis. Tous droits réservés.
    </footer>


</body>
</html>