<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, header, content, footer, ressourcesSupp, bodyClass)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Titre par défaut</title>

    <link rel="icon" th:href="@{/images/marteau.png}" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="/css/index.css">
    <th:block th:replace="${ressourcesSupp}"></th:block>
    <!-- Injection CSS / ressources supplémentaires -->

</head>
<body th:class="${bodyClass}">
<div th:replace="${header}"></div>

<nav>
    <img th:src="@{/images/marteau.png}" alt="Logo marteau">
    <p>Les objets sont nos amis</p>
    <ul>
        <li><a th:href="@{/accueil}">Accueil</a></li>
        <li><a th:href="@{/inscription}">S'inscrire</a></li>
        <li><a th:href="@{/connexion}">Se connecter</a></li>
    </ul>
</nav>

<!-- Contenu spécifique -->
<div th:replace="${content}"></div>

<div th:replace="${footer}"></div>

<footer class="text-center text-muted py-3 mt-5 border-top">
    &copy; 2025 Les objets sont nos amis. Tous droits réservés.
</footer>
</body>
</html>
