<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(
        'Accueil - Les objets sont nos amis',
        ~{},
        ~{::content},
        ~{},
        ~{fragments/indexCss :: css},
        ''
      )}">
<!-- Ne rien mettre ici, tout est injecté via les fragments -->

<div th:fragment="content">

    <main>
        <h1>Liste des enchères</h1>
        <ul>
            <form method="get" action="#" th:action="@{/accueil}">
                <input type="text" name="motCle" placeholder="Le nom de l'article contient" th:value="${motCle}">
                <select name="categorie" th:value="${categorieActive}">
                    <option value="">Toutes les catégories</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:text="${cat.nom}"
                            th:selected="${cat.id == categorieActive}"></option>
                </select>
                <button type="submit">Rechercher</button>
                <a th:href="@{/accueil}" class="btn">Annuler</a>
            </form>

            <div data-th-each="articleAVendres : ${articleAVendres}">
                <h3 data-th-text="${articleAVendres.getNom()}"></h3>
                <p data-th-text="' prix : '+ ${articleAVendres.getPrixVente()}"></p>
                <p data-th-text="' date fin enchère : ' + ${articleAVendres.dateFinEncheres}"></p>
            </div>
        </ul>
    </main>

</div>
</html>
