<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(
        'Nouvelle Vente - Les objets sont nos amis',
        ~{},
        ~{::content},
        ~{},
        ~{fragments/new-venteCSS :: css},
        'nouvelle-vente'
      )}">

<!-- Ne rien mettre ici, tout est injecté via les fragments -->
<div data-th-fragment="content">
    <main class="page-vente">

        <h1>Nouvelle vente</h1>

        <form th:action="@{/articles/ajouter}" th:object="${articleAVendre}" method="post">
            <div class="form-group">
                <label for="nomArticle">Article :</label>
                <input type="text" id="nomArticle" th:field="*{nom}" required />
            </div>
            <div class="form-group">
                <label for="categorieArticle">Catégorie :</label>
                <select id="categorieArticle" th:field="*{categorie.id}" required>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.libelle}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="descriptionArticle">Description :</label>
                <textarea id="descriptionArticle" th:field="*{description}" required></textarea>
            </div>
            <div class="form-group">
                <label for="prixInitialArticle">Mise à prix :</label>
                <input type="number" id="prixInitialArticle" th:field="*{prixInitial}" required />
            </div>
            <div class="form-group">
                <label for="dateDebutEncheres">Début de l'enchère :</label>
                <input type="date" id="dateDebutEncheres" th:field="*{dateDebutEncheres}" required />
            </div>
            <div class="form-group">
                <label for="dateFinEncheres">Fin de l'enchère :</label>
                <input type="date" id="dateFinEncheres" th:field="*{dateFinEncheres}" required />
            </div>
            <div class="form-group">
                <label for="retraitAdresse">Adresse de retrait :</label>
                <select id="retraitAdresse" th:field="*{retrait.id}" required>
                    <option th:each="adr : ${adresses}" th:value="${adr.id}" th:text="${adr.rue + ', ' + adr.codePostal + ' ' + adr.ville}"></option>
                </select>
            </div>
            <div class="form-actions">
            <button type="submit">Suivant</button>
            <button type="reset">Annuler</button>
            </div>
        </form>
    </main>
</div>
</html>