<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(
        'Modifier mon profil',
        ~{},
        ~{::content},
        ~{},
        ~{fragments/modif-profilCSS :: css},
        'view-modif-profil'
      )}">

<div th:fragment="content">
    <main class="page-modif-profil">
        <h1>Modifier mon profil</h1>

        <p><strong>Pseudo :</strong> <span th:text="${utilisateur.pseudo}">pseudo</span></p>
        <p><strong>Prénom :</strong> <span th:text="${utilisateur.prenom}">Prénom</span></p>
        <p><strong>Nom :</strong> <span th:text="${utilisateur.nom}">Nom</span></p>

        <form th:action="@{/profil/modifier}" th:object="${utilisateur}" method="post">
            <label for="email">Email :</label>
            <input type="email" id="email" th:field="*{email}" />

            <label for="telephone">Téléphone :</label>
            <input type="text" id="telephone" th:field="*{telephone}" />


           <!-- permet de cacher la recuperation de l'id-->
            <input type="hidden" th:field="*{adresse.id}" />


            <label for="rue"> Rue : </label>
            <input type="text" id="rue" th:field="*{adresse.rue}" />

            <label for="code_postal"> Code postal : </label>
            <input type="text" id="code_postal" th:field="*{adresse.codePostal}" />

            <label for="ville"> Ville :  </label>
            <input type="text" id="ville" th:field="*{adresse.ville}" />

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a th:href="@{/profil}" class="btn btn-cancel">Annuler</a>
        </form>
    </main>
</div>
</html>