<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(
        'Connection - Les objets sont nos amis',
        ~{},
        ~{::content},
        ~{},
        ~{fragments/connexionCSS :: css},
        'page-connexion'
      )}">

<!-- Ce fragment sera injecté dans le layout à la place de ~{::content} -->
<div data-th-fragment="content">
    <main>
        <h1>Connexion</h1>

        <form method="post" th:action="@{/connexion}">
            <label for="pseudo">Email :</label>
            <input type="text" id="pseudo" name="username" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>

            <div class="forgot-password">
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </form>
    </main>
</div>
</html>